@charset "UTF-8";    /* 文字コードの指定 */

@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

html {
  font-size: 62.5%;
  background-color: #f9f8f6;
}

header, main, footer {
    width:940px;
  margin-left: auto;
  margin-right: auto;
}

/* ===================================トップページ=================================== */


 /* ヘッダー */
 
#header_in {
    margin: 40px auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
#header_in .logo {
    margin-left: 0px;
    width: 141px;
    margin: 0 auto 0 0;
}



header ul{
    
    display: flex;
    
    text-align: right;
    margin-right: 0px;
}
header ul li{
    margin: 0 auto 0;
    padding:0 10px;
}

.last-list {
    margin: 0 0 0 auto;
    padding: 0 0 0 10px;
}

.items {
    width: 700px;
    margin-top: 40px;
    margin-bottom: 40px;
}



 /* メイン */
 
.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 2px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
    margin-left: 0px;
}

.owl-theme .owl-dots {
    margin-left: 0px;
    padding-left: 0px;
    width: 140px;
    text-align: left;
}
 
main {
    content: "";
    display: block;
    clear: both;
} 
#main-contents {
     width: 700px;
     float: left;
     margin-right: 10px;
     flex-direction: row;
 }
main:after {
    content:"";
    display: block;
    clear: both;
}
 
 
 #owl-carousel {
    min-width: 700px;
    background-repeat: no-repeat;
 }

#new-items .items img {
    display: block;
    margin-bottom: 10px;
}

#new-items .item-box {
    display: block;
    background-color: white;
    margin-top:10px;
}

#new-items ul{
    display:flex;
    flex-wrap: wrap;
}

#new-items .item-box ul li {
    display: block;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 15px;
}

#new-items .item-box ul a {
    text-decoration: none;
    padding: 0px;
    margin-left: 0px;
    font-size: 11px;
    color: #887f69;
}

#new-items p{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

#new-items .en{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    margin-top:10px;
    padding-bottom: 25px;
    text-align: left;
}

#poplar-items .item-box {
    display: block;
    background-color: white;
    margin-top:10px;
}

#poplar-items ul{
    display:flex;
    flex-wrap: wrap;
}

#poplar-items .item-box ul li {
   display: block;
    margin: 2px;
    background-color: white;
    padding: 6px;
    padding-top: 12px;
    text-align: center;
}

#poplar-items ul a {
    text-decoration: none;
}

#poplar-items p{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

#poplar-items .en{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    margin-top:10px;
    padding-bottom: 25px;
    text-align: left;
}


/* サイド */

#side-nav {
    display:block;
    width: 220px;
    float:right;
    margin-left: 10px;
}

#side-nav .itemsearch {
    margin: 0 0 0 auto;
    padding: 20px;
    border-bottom: 10px solid #eeeeee;
    background-color: white;
}

#side-nav .itemsearch img {
    padding-bottom: 10px;
}

#form02{
    background-color: #eeeeee;
    width:180px;
    height: 28px;
    content: "";
    display: block;
    clear: both;
}
#form02 input{
    vertical-align: top;
    margin: 0px;
    height: 100%;
    background-color: transparent;
}

#input02{
    border: none;
    width: 180px;
    font-style: italic;
    font: #b5b5b5;
    padding-left: 10px;
    margin: 0px;
    background-image: url(../images/top/search_icon.png);
    background-position: center right 20px;
    background-size: auto 70%;
    background-repeat: no-repeat;
}

#side-nav .pagelink,  
#side-nav .categories {
    background-color: white;
    margin-bottom: 10px;
}

#side-nav .pagelink h3, 
#side-nav .categories h3 {
    background-color: #887f69;
    height: 45px;
    width: 220px;
    text-align: left;
    margin-bottom: 0px;
}

#side-nav .pagelink a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    position:relative;
    
}

#side-nav .categories  {
    display: flex;
    flex-wrap: wrap;
    background-color: #887f69;
    height: 40px;
    width: 220px;
    text-align: left;
    margin-bottom: 5px;
}

#side-nav .categories a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    position:relative;
}

#side-nav .categories ul {
    display: block;
    height: 45px;
    width: 220px;
    text-align: left;
}

#side-nav .categories ul li a{
    text-decoration: none;
    background-color: white;
    color: black;
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    border-bottom: 2px solid #f9f8f6;
}

#side-nav .about1  {
    background-color: white;
}

#side-nav .about1  h3 {
    background-color: #887f69;
    height: 45px;
    width: 220px;
    text-align: left;
    margin-top: 300px;
    margin-bottom: 20px;
}
    

#side-nav .about1 a {
    display: block;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#side-nav .about1 .shop-foto img {
    display: block;
    margin: 12px;
}

#side-nav .about1 p {
    display: block;
    margin: 10px;
    font-size: 10px;
    letter-spacing: 0.3rem;
    line-height: normal;
}

#side-nav .about1 img {
    display: block;
    margin: 10px;
    padding-bottom: 0px;
}

#side-nav .about1 .shop-foto a{
     display: block;
     padding-left: 40px;
     padding-top: 0px;
}

#side-nav .about2  {
    background-color: white;
}

#side-nav .about2  h3 {
    background-color: #887f69;
    height: 45px;
    width: 220px;
    text-align: left;
    margin-bottom: 20px;
}
    

#side-nav .about2 a {
    display: block;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#side-nav .about2 .shop-foto img {
    display: block;
    margin: 12px;
}

#side-nav .about2 p {
    display: block;
    margin: 10px;
    font-size: 10px;
    letter-spacing: 0.3rem;
    line-height: normal;
}

#side-nav .about2 img {
    display: block;
    margin: 10px;
    padding-bottom: 0px;
}

#side-nav .about2 .shop-foto a{
     display: block;
     padding-left: 40px;
     padding-top: 0px;
}

#side-nav .about1 img {
    display: block;
    margin: 10px;
    padding-bottom: 0px;
}

#side-nav .about2 .shop-foto a{
     display: block;
     padding-left: 40px;
}

#side-nav .pagelink a:after,
#side-nav .categories a:after {
    content:"";
    display:block;
     
    width:8px;
    height:8px;
    border-top: white 2px solid;
    border-right: white 2px solid;
   
    position:absolute;
    right: 15px;
    top:0;
    bottom:0;
    margin:auto;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#side-nav .categories li a:after {
    content:"";
    display:block;
     
    width:8px;
    height:8px;
    border-top: #b8b8b8 2px solid;
    border-right: #b8b8b8 2px solid;
   
    position:absolute;
    right: 15px;
    top:0;
    bottom:0;
    margin:auto;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* ガイド */

#guide .shopping-guide a {
    display: block;
    margin-top: 15px;
    padding-top: 20px;
    content: "";
    clear: both;
}

#guide .shopping-guide .guide {
    margin-top: 28px;
    display: block;
    height: 260px;
    width: 348px;
    background-color: white;
    border-right: 2px solid #f9f8f6;
    float: left;
}

#guide .shopping-guide .payment {
    margin-top: 28px;
    display: block;
    height: 260px;
    width: 348px;
    background-color: white;
    border-left: 2px solid #f9f8f6;
    float: left;
    margin-bottom: 50px;
}

#guide .shopping-guide .guide h3 {
    font-family: sans-serif;
    font-size: 15px;
    color: #887f69;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

#guide .shopping-guide img {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#guide .shopping-guide .guide h4 {
    font-family: sans-serif;
    font-size: 13px;
    color: #887f69;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 0px;
}

#guide .shopping-guide p {
    font-family: sans-serif;
    font-size: 13px;
    color: black;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 12px;
    margin-bottom: 0px;
}

#guide .shopping-guide .payment h3 {
    font-family: sans-serif;
    font-size: 15px;
    color: #887f69;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 12px;
    margin-bottom: 0px;
}

#guide .shopping-guide h4 {
    font-family: sans-serif;
    font-size: 13px;
    color: #887f69;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 0px;
}

#guide .shopping-guide .payment img {
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    margin-top: 5px;
}

#guide .shopping-guide .guide img {
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2px;
    margin-top: 5px;
}

#guide .sp_shopping-guide img {
    display: none;
}


#guide .shopping-guide .payment p {
    font-family: sans-serif;
    font-size: 13px;
    color: black;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 12px;
    margin-bottom: 0px;
}


/* フッター */

footer #page-top {
    display: block;
    text-align: right;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    border-bottom: 3px solid #887f69;
    
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer #copyright {
    text-align: center;
    margin-bottom: 150px;
}




/* ===================================商品一覧=================================== */

/* メイン */

main #mein-contents .main_image2 {
    width: 700px;
    height: 200px;
}

main #main-contents #main-nav ul {
    height: 30px;
    display: block;
    background-color: #e8e4da;
    padding-left: 5px;
}

main #main-contents #main-nav ul li {
    display: inline-block;
    padding: 0px;
    padding-top: 10px;
    margin-right: 0px;
    letter-spacing: 1px;
}

main #main-contents #main-nav ul li a {
    text-decoration: none;
    padding: 0px;
    margin-left: 0px;
    font-size: 11px;
    color: #887f69;
}

main #main-contents #main-nav ul li img {
    width: 12px;
    height: 10px;
    padding-left: 5px;
    padding-right: 2px;
}


/* 一覧 */

#main-contents .item-box {
    display: block;
    margin-top:10px;
    border: #f9f8f6;
}

#main-contents .item-box ul{
    display:flex;
    flex-wrap: wrap;
}

#main-contents .item-box ul li {
    display: block;
    margin: 2px;
    background-color: white;
    padding: 6px;
    padding-top: 12px;
    text-align: center;
    
   
}

#main-contents .item-box ul a {
    text-decoration: none;
}

#main-contents .item-box p{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    padding-top: 10px;
}

#main-contents .item-box .en{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    margin-top:10px;
    padding-bottom: 25px;
    text-align: left;
}

#main-contents .btn .btn1 {
    float: left;
    text-decoration: none;
    color: white;
    width: 120px;
    height: 40px;
    background-color: #887f69;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#main-contents .btn .btn1 p {
    margin-top: 15px;
}

#main-contents .btn .btn2 {
    float: right;
    text-decoration: none;
    color: white;
    width: 120px;
    height: 40px;
    background-color: #887f69;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#main-contents .btn .btn2 p {
    margin-top: 15px;
}

/* 最近見たページ */

#mitamono h2 {
    margin-bottom: 30px;
}

#mitamono .sp_items img {
    display: none;
}

#mitamono .item-box {
    display: block;
    margin-top:10px;
    border: #f9f8f6;
}

#miatmono ul{
    display:flex;
    flex-wrap: wrap;
}

#mitamono .item-box ul li {
   display: block;
    margin: 2px;
    background-color: white;
    padding: 6px;
    padding-top: 12px;
    text-align: center;
}

#mitamono ul a {
    text-decoration: none;
}

#mitamono p{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    
}

#mitamono .en{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    margin-top:10px;
    padding-bottom: 25px;
    text-align: left;
}




#main-contents  {
    content: "";
    display: block;
    
} 

#main-contents:after {
    content:"";
    display: block;
    clear: both;
}

#main-contents .btn a {
    display: block;
}




/* ===================================商品説明=================================== */

/* メイン */

#item-contents .item-name {
    display: block;
    width: 580px;
    height: 80px;
    border-bottom: 1px solid #e8e4da;
    margin-right: 60px;
    margin-left: 60px;
}

#item-contents .item-name h3 {
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3rem;
    padding-top: 35px;
    padding-bottom: auto;
    float: left;
}

#item-contents .item-name h4 {
    display: block;
    font-size: 10px;
    text-align: right;
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #887f69;
}

#item-contents .large-box .mein-image {
    display: block;
    float: left;
}

#item-contents {
    background-color: white;
}


#photoArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.large-box {
   width:60%;    
}
.large-box img {
   width:410px;  
}

#item-photo {
   display: block;
   width:25%; 
   margin: 0px;
   padding: 0px;
}
#item-photo img {
   width:75px;
}

#item-photo .item-photo1 {
    display: block;
    float: left;
    margin-right: 5px;
}

#item-photo .item-photo1 img {
    margin-bottom: 6px;
}

#item-photo .item-photo2 {
    display: block;
    float: left;
    margin-left: 5px;
}

#item-photo .item-photo2 img {
    margin-bottom: 6px;
}



/* サイズ・カラー */

#item-contents {
    display: block;
    background-color: white;
    height: auto;
    width: 700px;
}

#item-contents #size-color {
    display: block;
    height: 50px;
    border-top: 1px solid #e8e4da;
    padding-top: 20px;
    padding-bottom:40px;
    margin-left: 60px;
    margin-right: 60px;
    content: "";
}

#item-contents .table {
    display: block;
    
}

#item-contents #size-color table {
    width: 100%;
    height: 70px;
    padding-right: 60px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 2px solid #e8e4da;
}

#item-contents #size-color table tr th {
    height: 35px;
    border: 2px solid #e8e4da;
    margin-right: 60px;
    font-weight: bold;
    color: #887f69;
    background-color: #f9f9f5;
    vertical-align: middle;
}

#item-contents #size-color table tr td {
    height: 35px;
    border: 2px solid #e8e4da;
    margin-right: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    color: #887f69;
}

#item-contents #size-color table tr td:first-child {
     background-color: #f9f9f5;
     vertical-align: middle;
     text-align: center;
     font-size: 1rem;
     font-weight: bold;
}

#item-contents .price-box {
    display: block;
    content: "";
    clear: both;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 0px;
    margin-top: 30px;
}

#item-contents .price-box a img {
    display: block;
    margin-right: 40px;
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 12px 70px 12px 0px;
    float: left;
}

#item-contents .price-box .price {
    display: block;
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    padding: 12px 0px 12px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

#item-contents .price-box span {
    font-size: 12px;
}

#item-contents .price-box .tax {
    display: block;
    color: black;
    font-family: 游ゴシック;
    font-style: italic;
    font-size: 12px;
    text-align: left;
    padding: 12px 50px 12px 0px;
    margin: 0px;
    margin-top: 2px;
    float: left;
}

#item-contents .price-box h2 {
border-top: 1px solid #e8e4da;
border-bottom: 1px solid #e8e4da;
}

#item-contents .price-box #cart a img {
    display: block;
    text-align: center;
    float: right;
    margin-right: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-top: 0px;
}

#item-contents .quantity {
    display: block;
    content: "";
    clear: both;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 0px;
    margin-top: 30px;
    padding-bottom: 83px;
}

#item-contents .quantity .quantity-size  {
    display: block;
    margin-right: 40px;
    margin-top: 23px;
    margin-bottom: 0px;
    padding: 12px 40px 12px 0px;
    float: left;
}

#item-contents .quantity input {
    border: 1px solid #e8e4da;
    display: block;
    font-size: 16px;
    padding: 12px 0px 10px 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    float: left;
}



#mein-contents .about-item {
    display: block;
    padding-top: 20px;
}

#mein-contents .about-item .item-discription {
   
    width: 700px;
    height: 80px;
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
}

#main-contents .about-item .about-textTitle {
    display: block;
    margin-bottom: 20px;
    padding-top: 30px;
    width: 580px;
    float: left;
    vertical-align: middle;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 16px;
    color: #887f69;
    font-weight: bold;
}

#main-contents .about-item .about-textTitle .point {
    display: block;
    font-size: 25px;
    margin-top: -5px;
    padding-top: 0px;
    float: left;
    margin-left: 0px;
    padding-right: 0px;
}

#main-contents .about-item .about-text {
    font-family: 小塚ゴシック Pro;
    display: block;
    font-size: 14px;
    line-height: 2.5rem;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}


.about-item {
    background-color: #ffffff;
}
.item-discription {
    font-size: 16px;
    font-weight: bold;
    color: #887f69;
    border-top: 1px solid #e8e4da;
    border-bottom: 2px solid #887f69;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

#size-color2 .table {
    display: block;
    padding-top: 10px;
    padding-bottom: 90px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 35px;
    
    
}

#size-color2 table {
    width: 100%;
    height: 70px;
    padding-right: 60px;
    margin-bottom: 20px;
    border: 2px solid #e8e4da;
}

#size-color2 table tr th {
    height: 35px;
    border: 2px solid #e8e4da;
    margin-right: 60px;
    width: 191px;
    font-weight: bold;
    color: #887f69;
    background-color: #f9f9f5;
    vertical-align: middle;
}

#size-color2 table tr td {
    height: 35px;
    border: 2px solid #e8e4da;
    margin-right: 60px;
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
    font-size: 1rem;
    color: #887f69;
    line-height: 18px;
}

#size-color2 table tr td:first-child {
     background-color: #f9f9f5;
     vertical-align: middle;
     text-align: center;
     font-size: 1rem;
     font-weight: bold;
     font-family: 小塚ゴシック Pro;
}


.sp_nav {
    display:none;
}

#ham-menu {
    display:none;
}

/* ===================================レスポンシブ=================================== */



@media (max-width: 550px){ 
    header, main, footer {
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    
#header_in .logo {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

header #top-nav {
    text-align: center;
}

.sp_nav {
    display:block;
}

header #top-nav .sp_nav {
    list-style-type: none;
    margin: 0 auto 0;
    margin-bottom: 15px;
	padding: 0;
	display: flex;
	justify-content: center;
	width: 180px;
}

header ul li {
    margin: 0 10px 0;
    padding: 0 5px;
    text-align: center;
}

header #top-nav .sp_nav li img{
    width: 170%;
	margin: 0px;
	padding: 0px;
    text-align: center;
}

#header_in {
    margin: 10px auto 10px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.pc_nav {
    display:none;
}

#main-contents {
    width:100%;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 2px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
    margin-left: 0px;
}

.owl-theme .owl-dots {
    margin-left: 0px;
    padding-left: 0px;
    width: 180px;
    text-align: left;
}



#mitamono .items img {
    display: none;
}

#mitamono .sp_items img {
    display: block;
    margin: 0 auto 0;
    margin-top: 0px;
    text-align: center;
    width: 130px;
}

#main-contents .item-box ul{
    display:flex;
    flex-wrap: wrap;
    width: 365px;
    margin: 0 auto 0;
}

#main-contents .item-box ul li,
#main-contents .item-box ul img {
    display:flex;
    flex-wrap: wrap;
    width: 170px;
    margin: auto;
    margin-bottom: 2px;
}

.items {
    margin-top: 30px;
}

#main-contents .item-box .en{
    display:flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 18px;
    margin-top:10px;
    padding-bottom: 15px;
    text-align: left;
}

#guide .shopping-guide a {
    display: none;
}

#guide .sp_shopping-guide img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 180px;
}

#guide .shopping-guide .guide {
    margin: auto;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    display: block;
    height: 260px;
    width: 365px;
    background-color: white;
    float: left;
}

#guide .shopping-guide .payment {
    border-left: 0px;
    margin: auto;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    display: block;
    height: 260px;
    width: 365px;
    background-color: white;
    float: left;
}

#side-nav {
    width: 100%;
} 
}








